<div class="container-fluid">
  
  <table *ngIf="stocks && stocks.code == 200" ngClass="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Market State</th>
        <th scope="col">Quote Type </th>
        <th scope="col">Price </th>
        <th scope="col">Change </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks.response" (click)="openData(stock.symbol)">
        <td>{{stock.name}} <span [style.color]="'#00FF00'">( {{ stock.symbol }} )</span></td>
        <td>{{stock.marketState}}</td>
        <td>{{stock.quoteType}}</td>
        <td>{{stock.price}} </td>
        <td [innerHTML]="stock.changePercent | colorGenerator: stock.changePrice ">
          <!-- <span> -->
          <!-- </span>  -->
        </td>
      </tr>
    </tbody>
  </table>
</div>