<div class="container">
    <div *ngIf="(user | async)?.uid">
        <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" routerLink="/home" role="tab"
                    aria-controls="pills-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" routerLink="/sign-in" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" (click)="logOut()" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Log Out</a>
            </li>
        </ul>

        <!-- Search form -->
        <div class="md-form active-pink mt-0 sticky-top search-box">
            <input class="form-control" type="text" placeholder="Search Stock ( symbol )" aria-label="Search"
                [(ngModel)]="stockSymbol" (keyup)="getStockData($event)" required>
        </div>

        <div class="row container-fluid">
            <!-- list component  -->
            <div class="col list-component-main-page">
                <div *ngIf="interestedStocks">
                    <h2> Flagged </h2>
                    <app-list-stocks (getStockData)="getChildStockData($event)" [stocksInformation]="interestedStocks">
                    </app-list-stocks>
                </div>


            </div>




        </div>


        <div class="row text-center">
            <img [src]='loadingSrc' *ngIf="loading" class="rounded">
        </div>
        <div class="stock-summary" *ngIf="stockFocusData && !loading">
            <div class="row summary-header">
                <div class="col">
                    <h3> {{stockFocusData.response.name}} <span
                            [style.color]="'#00FF00'">{{stockFocusData.response.financialData.currentPrice}}
                            {{stockFocusData.response.financialData.financialCurrency}}</span></h3>
                </div>
                <!-- /.col -->
                <div class="col">
                    <button class="btn btn-primary summary-button" (click)="addFlaggedStock(stockSymbol)">
                        Flag Stock
                        <!-- <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> -->
                    </button> <!-- /.btn -->
                    <button class="btn btn-danger summary-button" (click)="removeFlaggedStock(stockSymbol)">
                        Remove Stock
                    </button>
                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
            <div class="row">

                <div class="col">
                    <h5>Key Statistics</h5>
                    <ul>
                        <li>52 Week change <span
                                class="stock-data">{{stockFocusData.response.keyStats.weekChange52}}</span></li>
                        <li>Beta <span class="stock-data">{{stockFocusData.response.keyStats.beta}}</span></li>
                        <li>Quaterly Growth <span
                                class="stock-data">{{stockFocusData.response.keyStats.quaterlyGrowth}}</span></li>
                        <li>Earning Per Share <span class="stock-data">{{stockFocusData.response.keyStats.eps}}</span>
                        </li>
                        <li>Profit Earning <span class="stock-data">{{stockFocusData.response.keyStats.pe}}</span></li>
                    </ul>

                </div>
                <div class="col">
                    <h5>Financial Information</h5>
                    <li>Current Price <span
                            class="stock-data">{{stockFocusData.response.financialData.currentPrice}}</span></li>
                    <li>Current Ratio <span
                            class="stock-data">{{stockFocusData.response.financialData.currentRatio}}</span></li>
                    <li>Earning Growth <span
                            class="stock-data">{{stockFocusData.response.financialData.earningGrowth}}</span></li>
                    <li>Return on Assets <span class="stock-data">{{stockFocusData.response.financialData.roa}}</span>
                    </li>
                    <li>Return on Equity <span class="stock-data">{{stockFocusData.response.financialData.roe}}</span>
                    </li>
                </div>
            </div>
            <div class="row">
                <div class="col" [chart]="expectedEarnings">
                </div>
                <div class="col" [chart]="quaterlyReport">
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div *ngIf="!(user | async)?.uid">
        <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" role="tab" aria-controls="pills-home"
                    aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" routerLink="/sign-in" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Login</a>
            </li>
        </ul>

        <h3 class="display-4" *ngIf="!(user | async)?.uid">Market Summary</h3>
        <app-list-stocks></app-list-stocks>
    </div>
</div>