<div class="container">
    <!-- Search form -->
    <div class="md-form active-pink mt-0 sticky-top">
        <input class="form-control" type="text" placeholder="Search Stock ( symbol )" aria-label="Search"
            [(ngModel)]="stockSymbol" (keyup)="getStockData($event)" required>
    </div>

    <div class="row container-fluid">
        <!-- list component  -->
        <div class="col list-component-main-page">
            <div *ngIf="interestedStocks.length > 0">
                <h2> Flagged </h2>
            </div>

            <div>
                <app-list-stocks></app-list-stocks>
            </div>

        </div>



        <div class="col list-summary-main-page">
            <h1>Summary</h1>
        </div>

    </div>

</div>