.nav-link{
    cursor: pointer;
}
.search-box{
    padding: 10px;
    margin: 0 auto;
}


.stock-data{
    color: #00FF00;
}


.summary-header{
    padding: 20px;
}


.summary-button{
    padding: 10px;
    margin: 10px;
}