<div class="container-fluid">
    <div *ngIf="(user | async)?.uid">
        <div class="sidenav">

            <a class="nav-link" id="pills-home-tab" data-toggle="pill" role="tab" aria-controls="pills-home" routerLink="/home" aria-selected="true">Home</a>
            <a href="#">Wallet</a>
            <a class="nav-link" id="pills-home-tab" data-toggle="pill" role="tab" aria-controls="pills-home" routerLink="/news" aria-selected="true">News</a>
            <a href="#">Messages</a>
            <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" routerLink="/profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" (click)="logOut()" role="tab" aria-controls="pills-profile" aria-selected="false">Log Out</a>
            <a href="#">Help</a>
        </div>

        <div class="main">
            <div class="row">

                <div class="col-3">
                    <img [src]="( user | async)?.photoURL" class="profile-image d-inline img-thumbnail rounded ">
                </div> &nbsp;
                <div class="d-inline col-5 col-sm-8 col-xs-8">
                    <h2 class="display-6">{{ ( user | async )?.displayName}}</h2>
                    <p>Welcome to your profile </p>
                </div>
                <div class="col-4"></div>

            </div>
            <br>

            <h4>Your Balance</h4>
            <hr>
            <p>You have $1000 in your account</p>
            <br>
            <h4>Your Investments </h4>
            <hr>
            <p>List the invested stock list here with </p>
            <br>
            <h4>Your Favourites</h4>
            <hr>
            <div>
                <table *ngIf="favStock" ngClass="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Market State</th>
                            <th scope="col">Quote Type </th>
                            <th scope="col">Price </th>
                            <th scope="col">Change </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let stock of favStock.response" (click)="openData(stock.symbol)" [attr.id]="stock.symbol">
                            <td>{{stock.name}} <span [style.color]="'#00FF00'">( {{ stock.symbol }} )</span></td>
                            <td>{{stock.marketState}}</td>
                            <td>{{stock.quoteType}}</td>
                            <td>{{stock.price}}</td>
                            <td [innerHTML]="stock.changePercent | colorGenerator: stock.changePrice ">
                                <!-- <span> -->
                                <!-- </span>  -->
                            </td>
                            <td> <button class="btn btn-danger summary-button" (click)="removeFlaggedStock(stock.symbol)">
                        Remove
                        <!-- <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> -->
                    </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>